.lein-cljsbuild-compiler-*
.lein-cljsbuild-repl
.lein-deps-sum
.lein-failures
.lein-plugins
autodoc
classes
doc
hiccup*.jar
lib
pom.xml
/target
/out
/.repl-phantom-err
/.repl-phantom-out
/pom.xml.asc
/.lein-repl-history
/.crossover-cljs
/.repl
/repl
